body {
    font-family: Consolas, "Bitstream Vera Sans Mono", "Andale Mono", Monaco, "DejaVu Sans Mono", "Lucida Console", monospace;
    padding: 1.5em 3em;
    letter-spacing: 0.1em;
}
ul li {
    margin-top: 0.75em;
}
#f {
    padding-top: 3em;
}
#copy {
    float: right;
}
.uname {
    padding: 0 0.5em 0 1em;
    cursor: pointer;
}
h1, h2, h3 {
    font-weight: normal;
}
h3 {
    text-decoration: underline;
    margin-top: 2em;
}
.create {
    margin: 1em 0;
    font-size: 16px;
}
.flashes {
    margin: 0 0;
}
.flashes li {
    list-style: none;
    color: #B00;
    font-size: 16px;
}
.top {
    margin-top: 3em;
}
