body {
    font-family: Consolas, "Bitstream Vera Sans Mono", "Andale Mono", Monaco, "DejaVu Sans Mono", "Lucida Console", monospace;
    padding: 1.5em 3em;
    letter-spacing: 0.1em;
}
ul li {
    margin-top: 0.75em;
}
#f {
    padding-top: 1em;
}
#copy {
    float: right;
}
