<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <title>Gitlists - free mailing lists for your github collaborators</title>
    <link rel="stylesheet" type="text/css" href="/static/c/yui.css">
    <link rel="stylesheet" type="text/css" href="/static/c/main.css">
    <script src="/static/j/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/j/main.js" type="text/javascript" charset="utf-8"></script>
    {% block scripts %}{% endblock %}
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    <div id="f">
      <hr>
      This site is <a href="http://github.com/fiesta/gitlists">open source</a>.<span id="copy">&copy; 2011 <a href="https://fiesta.cc">Fiesta</a></span>
    </div>
  </body>
</html>
