<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <title>gitlists - free mailing lists for your github collaborators</title>
    <link rel="stylesheet" type="text/css" href="/static/c/yui.css">
    <link rel="stylesheet" type="text/css" href="/static/c/main.css">
    <script src="/static/j/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/j/main.js" type="text/javascript" charset="utf-8"></script>
    {% block scripts %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
    <div id="f">
      <hr>
      &copy; 2011 <a href="https://fiesta.cc">Fiesta Technology</a>
    </div>
  </body>
</html>
