<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <title>gitlists - free mailing lists for your github collaborators</title>
    <link rel="stylesheet" type="text/css" href="/static/c/yui.css">
    <link rel="stylesheet" type="text/css" href="/static/c/main.css">
    {% block scripts %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
    <div id="f">
      <hr>
      This site is <a href="http://github.com/fiesta/gitlists">open source</a> &ndash; help make it better :)<span id="copy">&copy; 2011 <a href="https://fiesta.cc">Fiesta Technology</a></span>
    </div>
  </body>
</html>
