{% extends "base.html" %}

{% block content %}
<h1><a href="/">Home</a> > <a href="/repo/{{ org and org + "/" or "" }}{{ repo }}">{{ repo }}@gitlists.com</a> > Create</h1>
<hr>
<form id="create" method="POST" action="/create">
  <p class="top">Configure your gitlist and click <strong>Create</strong>.</p>
  <p>When it's created a welcome message will be sent out to all of the list members.</p>
  </p>
  <div class="top">
    <label>
      <input type="checkbox" name="public" value="true"> This is a public gitlist &mdash; anyone can join.
    </label>
  </div>
  {% for address in addresses %}
  <input type="hidden" name="address" value="{{ address }}">
  {% endfor %}
  {% for username in usernames %}
  <input type="hidden" name="username" value="{{ username }}">
  {% endfor %}
  <input type="hidden" name="repo" value="{{ repo }}">
  {% if org %}
  <input type="hidden" name="org" value="{{ org }}">
  {% endif %}
  <input type="hidden" name="x" value="{{ xsrf.create }}">
  <input class="create" type="submit" value="create">
</form>
{% endblock %}
