{% extends "base.html" %}

{% block content %}
<h1>Hi, <span class="handle">{{ user.login }}</span>!</h1>
<h2>Which repository do you want to create a gitlist for?</h2>
<h3><span class="under">Your repositories</span></h3>
<ul>
  {% for repo in repos %}
  {% if not repo.get("fork", False) %}
  <li><a href="/repo/{{ repo.name }}">{{ repo.name }}</a> {{ repo.description }}</li>
  {% endif %}
  {% endfor %}
</ul>
{% for org in orgs %}
{% if org_repos[loop.index0] %}
<h3><span class="under">{{ org.login }} repositories</span></h3>
<ul>
  {% for repo in org_repos[loop.index0] %}
  <li><a href="/repo/{{ org.login }}/{{ repo.name }}">{{ repo.name }}</a> {{ repo.description }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endfor %}
{% endblock %}
