{% extends "base.html" %}

{% block content %}
<h1>Hi, <span class="handle">{{ user.login }}</span>!</h1>
<h2>Choose a repository to create a gitlist for.</h2>
<hr>
<h3>Your repositories</h3>
<ul>
  {% for repo in repos %}
  {% if not repo["fork"] %}
  <li><a href="/repo/{{ repo.name }}">{{ repo.name }}</a> {{ repo.description }}</li>
  {% endif %}
  {% endfor %}
</ul>
{% for org in orgs %}
{% if org_repos[loop.index0] %}
<h3>{{ org.login }} repositories</h3>
<ul>
  {% for repo in org_repos[loop.index0] %}
  <li><a href="/repo/{{ org.login }}/{{ repo.name }}">{{ repo.name }}</a> {{ repo.description }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endfor %}
{% endblock %}
