{% extends "base.html" %}

{% block content %}
<h2>Hi <strong>{{ user.login }}</strong>! Which repo needs a gitlist?</h2>
<ul>
  {% for repo in repos %}
  <li><a href="/repo/{{ repo.name }}">{{ repo.name }}</a> {{ repo.description }}</li>
  {% endfor %}
</ul>
{% for org in orgs %}
{% if org_repos[loop.index0] %}
<h3><span class="under">{{ org.login }} repos</span></h3>
<ul>
  {% for repo in org_repos[loop.index0] %}
  <li><a href="/repo/{{ org.login }}/{{ repo.name }}">{{ repo.name }}</a> {{ repo.description }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endfor %}
{% endblock %}
