{% extends "base.html" %}

{% block content %}
<h1><a href="/">Home</a> > {{ repo.name }}@gitlists.com</h1>
<form name="refresh-repo" method="POST" action="/refresh_repo">
  <input type="hidden" name="x" value="{{ xsrf.refresh_repo }}">
  <input type="hidden" name="repo" value="{{ repo.name }}">
  {% if org %}
  <input type="hidden" name="org" value="{{ org.handle }}">
  {% endif %}
  <h2>Select list members and create your gitlist. You can add or remove members later, too.<input type="submit" value="refresh data"></h2>
</form>
<hr>
<form name="create" method="POST" action="/create">
  <div class="yui3-g">
  {% if repo.collaborators %}
  <div class="yui3-u-{{ n }}">
    <h3>Collaborators</h3>
  {% for member in repo.collaborators %}
  <p><input type="checkbox" name="userid" value="{{ member.i }}" checked="checked"><span class="uname">{{ member.l }}</span>[<a href="http://github.com/{{ member.l }}">github</a>]</p>
  {% endfor %}
  </div>
  {% endif %}
  {% if repo.contributors %}
  <div class="yui3-u-{{ n }}">
  <h3>Contributors</h3>
  {% for member in repo.contributors %}
  <p><input type="checkbox" name="userid" value="{{ member.i }}" checked="checked"><span class="uname">{{ member.l }}</span>[<a href="http://github.com/{{ member.l }}">github</a>]</p>
  {% endfor %}
  </div>
  {% endif %}
  {% if repo.org_members %}
  <div class="yui3-u-{{ n }}">
  <h3>{{ org.handle }} members</h3>
  {% for member in repo.org_members %}
  <p><input type="checkbox" name="userid" value="{{ member.i }}"><span class="uname">{{ member.l }}</span>[<a href="http://github.com/{{ member.l }}">github</a>]</p>
  {% endfor %}
  </div>
  {% endif %}
  {% if repo.forkers %}
  <div class="yui3-u-{{ n }}">
  <h3>Forkers</h3>
  {% for member in repo.forkers[:50] %}
  <p><input type="checkbox" name="userid" value="{{ member.i }}"><span class="uname">{{ member.l }}</span>[<a href="http://github.com/{{ member.l }}">github</a>]</p>
  {% endfor %}
  </div>
  {% endif %}
  {% if repo.watchers %}
  <div class="yui3-u-{{ n }}">
  <h3>Watchers</h3>
  {% for member in repo.watchers[:50] %}
  <p><input type="checkbox" name="userid" value="{{ member.i }}"><span class="uname">{{ member.l }}</span>[<a href="http://github.com/{{ member.l }}">github</a>]</p>
  {% endfor %}
  </div>
  {% endif %}
  </div>
  <h3>Other list members</h3>
  <p>Enter <span class="freeform-text">an email address</span>. <a class="add_input" href="#">Click here</a> to add another input.</p>
  <div class="freeform">
    <p><input type="text" name="address"></p>
  </div>
  <input type="hidden" name="x" value="{{ xsrf.create }}">
  <h3>Create your gitlist</h3>
  <div><input class="create" type="submit" value="create list"><- Click here to finish creating your gitlist - an introductory email will be sent to the list members.</div>
</form>
{% endblock %}
